[Unit]
Description=Drone server
After=docker.service

[Service]
Restart=Always
ExecStart=/usr/local/bin/docker-compose -f /etc/drone/docker-compose.yml up
ExectStop=/user/local/bin/docker-compose -f /etc/drone/docker-compose.yml stop

[Install]
WantedBy=multi-user.target
